<!-- index.ejs file-->
<h2>Welcome to CSE Motors</h2>

<!-- Hero image-->
<div class="hero-image">
    <div class="hero-text">
        <h3>DMC Delorean</h3>
        3 Cup holders
        <br>Superman doors
        <br>Fuzzy dice
        <br><button>Own Today</button>
    </div>
</div>

<!-- Content div, to be organized in blocks during wide view-->
<div class="content">
    <!-- Review div (grid 2/2)-->
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly." (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)"s</li>
        </ul>
    </div>

    <!-- Upgrade div (grid 1/2)-->
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-grid">
            <div>
                <span class="upgrade-images"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"></span>
                <a href="">Flux Capacitor</a>
            </div>
            <div>
                <span class="upgrade-images"><img src="/images/upgrades/flame.jpg" alt="Flame Decals"></span>
                <a href="">Flame Decals</a>
            </div>
            <div>
                <span class="upgrade-images"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></span>
                <a href="">Bumper Stickers</a>
            </div>
            <div>
                <span class="upgrade-images"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"></span>
                <a href="">Hub Caps</a>
            </div>    
        </div>
    </div>
</div>


